body {
    background: #edeef0;
    font-family: 'Roboto', sans-serif;
}
.a-main {
    background: #ffffff;
    border-radius: 5px;
    width: 1024px;
    margin: 10px auto;
}
.a-wrapper {
    padding: 0 20px;
}
.a-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fafbfc;
    border-bottom: 1px solid #e7e8ec;
    margin-bottom: 5px;
}
.a-main__menu ul {
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    margin: 0;
}
.a-main__menu li {
    margin: 0 3px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.a-main__menu li:hover > a {
    border-bottom: 2px solid #cad2db;
    margin-bottom: 0px;
}
.a-main__menu li.active > a {
    border-bottom: 2px solid #6387ac;
    margin-bottom: 0px;
}
.a-main__menu li a {
    padding: 18px 6px 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-bottom: 2px;
}
.a-body {
    margin: 20px 0;
}
.a-footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #6387ac;
    margin-top: 5px;
    font-size: 11px;
    color: #ffffff;
    padding: 10px 20px;
}
.a-footer a {
    color: #ffffff;
    text-decoration: underline;
}
.status_active {
    color: #2e7b27;
}
.status_reserve {
    color: #c3a920;
}
.status_block {
    color: #981c0d;
}
